
.hero-area {
    padding-top: 60px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(212,246,6,1) 0%, rgba(243,244,6,1) 64%, rgba(210,243,6,1) 100%, rgba(0,212,255,1) 100%);
    //color:#ffffff;
    min-height: 200px;
}

footer {
    background-color: rgb(93, 93, 93);
    color: #fff;
    width:100%;
}